* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.3s;
  background: transparent;
}

header.scrolled {
  background: #0a3161;
}

.container {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav {
  margin-left: auto;
}

.logo {
  height: 100px;
  transition: 0.3s;
}

header.scrolled .logo {
  height: 60px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.menu-toggle {
  font-size: 28px;
  font-weight: bold;
  color: white;
  z-index: 2000;
  position: relative;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #3a3c39;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTION */
.section {
  padding: 80px 0;
  text-align: center;
}

.dark {
  background: #0d2c54;
  color: white;
}
/*ABOUT */
.about-split {
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.about-left {
  flex: 1;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.about-left small {
  color: #666;
  margin-bottom: 10px;
}

.about-left h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-left p {
  margin-bottom: 20px;
  max-width: 450px;
}

.about-right {
  flex: 1;
}

.about-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* RESPONSIVE */

@media(max-width:768px){

  .about-split {
    flex-direction: column;
  }

  .about-right {
    order: -1; /* gambar ke atas */
  }

}


/* visi misi*/
.visi-misi {
  padding: 80px 20px;
  text-align: center;
  background: #f4f4f4;
}

.vm-menu {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 28px;
  font-weight: 600;
}

.vm-item {
  cursor: pointer;
  position: relative;
}

/* garis bawah aktif */
.vm-item.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
}

.vm-line {
  width: 80%;
  height: 2px;
  background: black;
  margin: 20px auto;
}

.vm-content {
  max-width: 700px;
  margin: auto;
  font-size: 14px;
  line-height: 1.8;
}
/* TIMELINE SERVICES */
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 3px;
  background: #3a3c39;
}

.timeline-item {
  text-align: center;
  cursor: pointer;
  flex: 1;
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  background: white;
  border: 4px solid #3a3c39;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.circle img {
  width: 40px;
}

.timeline-item:hover .circle {
  background: #3a3c39;
}

.timeline-item p {
  margin-top: 10px;
  font-weight: 600;
}

.timeline-detail {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  margin-top: 10px;
  background: #fff;
  color: black;
  border-radius: 5px;
}

.timeline-item.active .timeline-detail {
  max-height: 200px;
  padding: 15px;
  overflow-y: auto;
}

.timeline-detail {
  position: relative;
}

.timeline-detail::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, white);
}

/* TEAM */
.team-box {
  max-width: 600px;
  margin: auto;
}

/* FORM */
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 12px;
  background: #3a3c39;
  border: none;
  cursor: pointer;
  width: 100%;
}
/*contact */
.contact-split {
  display: flex;
  min-height: 100vh;
}

/* LEFT */
.contact-left {
  flex: 1;
  background: #f4f4f4;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-logo {
  width: 80px;
  margin-bottom: 20px;
}

.contact-left h2 {
  margin-bottom: 20px;
}

.contact-item {
  margin: 10px 0;
}

.tagline {
  margin-top: 40px;
  font-size: 18px;
}

/* RIGHT */
.contact-right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.blue-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background: #0a3161;
}

.img-top {
  position: absolute;
  top: 0;
  right: 120px;
  width: 60%;
  height: auto;
  object-fit: cover;
}

.img-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* RESPONSIVE */
@media(max-width:768px){

  .contact-split {
    flex-direction: column;
  }

  .contact-left {
    text-align: center;
    padding: 30px 20px;
  }

  .contact-right {
    height: auto;
  }

  .img-top,
  .img-bottom {
    position: relative;
    width: 100%;
    height: auto;
  }

  .blue-box {
    display: none;
  }

}

.img-top,
.img-bottom {
  height: auto;
}

  .blue-box {
    display: none;
  }

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  padding: 4px 0;
  transition: 0.3s;
}

.contact-item:hover {
  transform: translateX(5px);
  color: #0a3161;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media(max-width:768px){

  .timeline {
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 20px;
  }

  .timeline::before {
    display: none;
  }

  .timeline-item {
    flex: 0 0 250px;
  }

}
/*DESKTOP */
nav {
  display: flex;
  gap: 20px;
}

/*MOBILE */
@media(max-width:768px){

  nav {
    display: none;
    flex-direction: column;
    background: #0a3161;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    text-align: center;
  }

  nav.active {
    display: flex;
  }

}

  nav.active {
    display: flex;
  }


/*fix responsive */

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: clamp(40px, 8vw, 80px) 20px;
}

/* ABOUT*/
.about-split {
  display: flex;
  flex-wrap: nowrap;
}

.about-left,
.about-right {
  flex: 1;
  min-width: 0;
}

/* CONTACT split biar aman */
.contact-split {
  display: flex;
  flex-wrap: wrap;
}

/* TEXT biar adaptif */
h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

p {
  font-size: clamp(14px, 2.5vw, 16px);
}

/* TIMELINE biar gak pecah */
.timeline {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.timeline-item {
  flex: 1 1 250px;
}

/* HERO padding mobile */
.hero {
  padding: 20px;
}

/* NAV biar rapi mobile */
@media(max-width:768px){

  .nav {
    padding: 15px 0;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 15px;
  }

}

[data-aos] {
  transition-property: transform, opacity;
}

.timeline {
  scroll-snap-type: x mandatory;
}

.timeline-item {
  scroll-snap-align: center;
}

@media(max-width:768px){
  .menu-toggle {
    display: block;
  }
}

.menu-toggle.active {
  color: #fff;
}

.menu-toggle {
  display: none;
}

@media(max-width:768px){
  .menu-toggle {
    display: block;
  }
}

/* GALLERY */
.gallery-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 50px auto;
  overflow: hidden;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s ease;
}

.gallery-item {
  width: 200px;
  height: 130px;
  object-fit: cover;
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.5s ease;
  border-radius: 10px;
}

/* gambar tengah */
.gallery-item.active {
  transform: scale(1.2);
  opacity: 1;
}

/* tombol */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #3a3c39;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 0.3s;
}

/* hover biar keren */
.nav-btn:hover {
  background: #555;
}

.prev {
  left: -60px;
}

.next {
  right: -60px;
}

.gallery-wrapper {
  position: relative;
  overflow: visible; /* penting biar tombol gak kepotong */
}

.contact-full {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
  text-align: left;
}

.contact-full .contact-left {
  max-width: 600px;
}

.vm-content {
  text-align: left; /* penting */
}

.vm-list {
  padding-left: 20px;
}

.vm-list li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.gallery-caption {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
  letter-spacing: 2px;
  text-transform: uppercase;
}